

.game {
  text-align: center;

  &_leave {
    position: fixed;
    top: 1rem;
    left: 1rem;

    &:hover {
      a {
        color: var(--c-pri) !important;
      }
    }
  }

  &_info {

    &_turn {
      height: 2rem;
    }

    &_gravity {
      span {
        margin-right: 1rem;
      }
    }
    margin-bottom: 2rem;
  }

  &_players {
    width: 100%;
    max-width: var(--mw-container);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &_player {
    display: inline-flex;
    border: 1px solid var(--c-border);

    border-radius: var(--br);
    padding: .5rem 1rem;

    margin: 1rem 2rem;

    transition: all 100ms ease-in-out;

    &.isReady {
      background-color: var(--c-pri);
      border-color: var(--c-pri);
    }

    &.hasTurn {
      transform: scale(1.5);
      border-color: #fff;
      border-width: 1px;
    }

    &:not(.isReady) {
      &.red {
        background-color: var(--c-red);
      }

      &.yellow {
        background-color: var(--c-yellow);
      }

      &.green {
        background-color: var(--c-green);
      }

      &.blue {
        background-color: var(--c-blue);
      }

      &.purple {
        background-color: var(--c-purple);
      }

      &.orange {
        background-color: var(--c-orange);
      }
    }

    &.isPlayer {
      font-weight: 800;
      cursor: pointer;
    }
  }

  &_board {
    margin-bottom: 4rem;
    position: relative;
    display: inline-flex;

    &_grid {
      //position: absolute;
      //left: 0;
      //top: 0;
    }

    &_row {
      display: flex;
    }

    &_coin {
      z-index: -1;
      pointer-events: none;
      position: absolute;
      width: var(--cell-size);
      height: var(--cell-size);

      &.connected {
        z-index: 1;
        opacity: 1;
        animation: pulse .5s ease-in-out infinite 0.25s !important;
      }

      &.fallInY0X1 { // Y0X1
        animation: fallInY1X0 .25s ease-in;
      }

      &.fallInY-1X0 { // Y-1X0
        animation: fallInY0X1 .25s ease-in;
      }

      &.fallInY0X-1 { // Y0X-1
        animation: fallInY-1X0 .25s ease-in;
      }

      &.fallInY1X0 { // Y1X0
        animation: fallInY0X-1 .25s ease-in;
      }

      &.red {
        background-color: var(--c-red);
      }

      &.yellow {
        background-color: var(--c-yellow);
      }

      &.green {
        background-color: var(--c-green);
      }

      &.blue {
        background-color: var(--c-blue);
      }

      &.purple {
        background-color: var(--c-purple);
      }

      &.orange {
        background-color: var(--c-orange);
      }

    }

    &_cell {
      width: var(--cell-size);
      height: var(--cell-size);

      border: 1px solid var(--c-border);

      &.premove { // 27 119 154
        opacity: .5;
        border-color: #aaa;

        &.red {
          background-color: var(--c-red);
        }

        &.yellow {
          background-color: var(--c-yellow);
        }

        &.green {
          background-color: var(--c-green);
        }

        &.blue {
          background-color: var(--c-blue);
        }

        &.purple {
          background-color: var(--c-purple);
        }

        &.orange {
          background-color: var(--c-orange);
        }
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

@keyframes fallInY1X0 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fallInY0X1 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fallInY-1X0 {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fallInY0X-1 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}